<!-- Espacio -->
<div class="mt-5 mb-5"></div>
<div class="mt-5 mb-5"></div>

<!--Paginacion-->
<div>
  <ul class="pagination pagination-lg justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>

<footer>
    <fieldset class="pie bg-info container-fluid mt-6 mb-4 me-2 ms-2">
      <br>
      <h2 class="animacion">Redelcom Ventas</h2>
      <br>
    </fieldset>
  </footer>