<app-cabecera></app-cabecera>

<h1 class="text-center titulos">TERMINALES</h1>

<h2 class="text-center subtitulos">Destacados</h2>
<div class="container margen">
  <div class="row">
    <div class="col-md-3" *ngFor="let terminal of terminales2">
      <div class="card ">
        <h2 class="card-title nombre">{{ terminal.nombre }}</h2>
        <img [src]="terminal.image" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h3 class="card-text">{{ '$'+ terminal.precioTerminal }} - {{'stock:  ' + terminal.stock }}</h3>
          <p class="card-text">{{ terminal.descripcion }}</p>
          <button type="button" class="btn btn-outline-success">Agregar Carrito</button>
         
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center subtitulos">Ofertas</h2>
<div class="container margen">
  <div class="row">
    <div class="col-md-3" *ngFor="let terminal of terminales2">
      <div class="card ">
        <h2 class="card-title nombre">{{ terminal.nombre }}</h2>
        <img [src]="terminal.image" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h3 class="card-text">{{ '$'+ terminal.precioTerminal }} - {{'stock:  ' + terminal.stock }}</h3>
          <p class="card-text">{{ terminal.descripcion }}</p>
          <button type="button" class="btn btn-outline-success">Agregar Carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-paginacion></app-paginacion>
<app-footer></app-footer>